<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.hkskh">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application">
        <activity android:name=".Controllers.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Users.Controllers.LoginActivity" />
        <activity android:name=".Controllers.MainActivity" />
        <activity android:name=".Users.Controllers.RegisterActivity" />
        <activity
            android:name=".Shelters.Controllers.ShelterListActivity"
            android:label="@string/title_activity_shelter_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shelters.Controllers.ShelterDetailActivity"
            android:label="@string/title_activity_shelter_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shelters.Controllers.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shelters.Controllers.FilteredSheltersActivity"
            android:label="@string/title_activity_filtered_shelters"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>